
/* context menu */

.context-menu {
  display: none;
  z-index: 10;
  padding: 0;
  background-color: #fff;
  width: 165px;
  margin-left: -93px;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 5px 7px;
  color: #0066aa;
  text-decoration: none;
  text-align: left;
  color: #fafbfc;
  width : 124px;
  background-color: #008D4C;
  border-radius: 5px;
}

.context-menu__link:hover {
  color: white;
  background-color: #1E282C;
}