.main_heading > span{
	color:black !important;
	font-weight:600 !important;
}
.small-screen{
	display:none;
}
/*start of state overview-t10*/
.state-overview-t10 .card {
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.state-overview-t10 .card .card-header {
  background: white;
  padding: 2px 0px; }

.state-overview-t10 .card .card-header p {
  margin-bottom: 0px; }

.state-overview-t10 .card .card-header > .title {
  padding-top: 5px;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  margin-left: 36px; }

.state-overview-t10 .card .red {
  color: #B71C1C; }

.state-overview-t10 .card .blue {
  color: #0D47A1; }

.state-overview-t10 .card .brown {
  color: #3E2723; }

.state-overview-t10 .card .green {
  color: #5BA160; }

.state-overview-t10 .card .grey {
  color: #263238; }

.state-overview-t10 .card .indigo {
  color: #1A237E; }

.state-overview-t10 .card .orange {
  color: #E65100; }

.state-overview-t10 .card .yellow {
  color: #DB8401; }

.state-overview-t10 .card .teal {
  color: #004D40; }

.state-overview-t10 .card .card-header > .icon {
  display: inline-block;
  float: left;
  padding-left: 5px;
  font-size: 26px;
  margin-top: 2px; }

.state-overview-t10 .card > .card-body {
  color: white;
  padding-top: 10px;
  font-family: 'Roboto Condensed';
  font-size: 14px; 
  min-height: 96px;
}

.state-overview-t10 .card .red-m {
  background: #D32F2F; }

.state-overview-t10 .card .blue-m {
  background: #1976D2; }

.state-overview-t10 .card .brown-m {
  background: #5D4037; }

.state-overview-t10 .card .green-m {
  background: #5BA160; }

.state-overview-t10 .card .grey-m {
  background: #455A64; }

.state-overview-t10 .card .indigo-m {
  background: #303F9F; }

.state-overview-t10 .card .orange-m {
  background: #EF6C00; }

.state-overview-t10 .card .yellow-m {
  background: #F90; }

.state-overview-t10 .card .teal-m {
  background: #00796B; }

.state-overview-t10 .card > .card-body > ul > li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.26);
  margin-right: 40px;
  /*! padding: 5px 0px; */ 
  list-style: none;
  margin-left: 40px;
  /*! height: 20px; */
}
.h5-heading{
	display:none;
}
.state-overview-t10 .card > .card-body > ul > li > span {
  float: right; }

.state-overview-t10 .card .card-footer {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white; }

.state-overview-t10 .card .red-d {
  background: #B71C1C; }

.state-overview-t10 .card .blue-d {
  background: #0D47A1; }

.state-overview-t10 .card .brown-d {
  background: #3E2723; }

.state-overview-t10 .card .green-d {
  background: #39653C; }

.state-overview-t10 .card .grey-d {
  background: #263238; }

.state-overview-t10 .card .indigo-d {
  background: #1A237E; }

.state-overview-t10 .card .orange-d {
  background: #E65100; }

.state-overview-t10 .card .yellow-d {
  background: #DB8401; }

.state-overview-t10 .card .teal-d {
  background: #004D40; }

.state-overview-t10 .card .card-footer p {
  margin-bottom: 0px;
  margin-left: 40px; }

.state-overview-t10 .card .card-footer span {
  float: right;
  padding-right: 40px; }

/*end of state overview-t10*/


@media only screen and (max-width: 992px) {
.flypanels-topbar{
height:auto;
}
a.flypanels-button-left{
text-align:left;
display:block;
width:100%;

}
h2.topbar-heading{text-align: center;position: relative;font-size: 18px;top:4px;}
span.tooglebtnfilter{
top:130px;
}
.content_mainwraper .main_heading{
	font-size:16px;
}
.carview_wraper ul li{
padding-right:15px;
padding-left:15px;
}
.map_sectionwraper .col-md-7{
padding:0px 15px;
}

}
/* .fusioncharts-container{ */
/* overflow:scroll; */
/* } */
@media only screen and (max-width: 747px) {
.content_mainwraper .main_heading{
line-height:100%;
}
h2.topbar-heading{
	display:none;
}
h5.h5-heading{
	display:block;
	font-size:18px;
	position:relative;
	top:15px;
	left:30px;
	color:white;
}
.content_mainwraper{
margin-top:50px;
}

.tbl-states thead{
  font-size:10px;
  padding:0px;
 
}
.tbl-states  thead tr td{
 vertical-align: middle;
}
.tbl-states tbody tr td{
  padding:0px;font-size:10px;
}
.tbl-states tbody tr td label{
  margin-bottom:0px;
}

.content_mainwraper .main_heading{
	font-size:16px;
}
.flypanels-container .flypanels-main .flypanels-content{
	padding:0px;
}
.big-screen{
	display:none !important;
}
.small-screen{
	display:block;
}
.card_viewpercent{
	margin-top:0px;
	font-size:28px;
}
.carview_wraper ul li .crdview_grphwrp h3{
	padding-bottom:5px;
}
.carview_wraper ul li .crdview_grphwrp{
height:65px;
}
.imgcardview_2 > img {
display:none;
}
.card-viewinner .imgcardview img{
	max-height:40px;
	margin-top:10px;
}
}

@media only screen and (max-width: 412px){

.content_mainwraper{
margin-top:55px;
} 
.highcharts-title{
	font-size:13px !important;
}
}

@media only screen and (max-width: 991px){
.filterRow > table{
float:none !important;
}
.filterRow > .border-div .table-location-bins thead tr, tbody tr, tbody tr td, thead tr th
{
border:none;
}
[id*="chartobject"] {
width:100% !important;
display: flex;
}
}

@media only screen and (max-width:380px){
.section-title span{
  font-size:13px;
 
}
}
@media only screen and (max-width: 992px){
	.filterRow{
		display:none;
			}
			.hide-tabs{
			display:none;
		}
		.fed-username{
			display:none;
		}
		.signout-ul{
			margin-left:-127px;
			
		}
.highcharts-credits{
	display:none !important;
}
} 

@media only screen and (max-width: 540px){

.table > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{
	    font-size: 8px !important;
	    word-break: break-all;
	    padding: 0px !important;
	    vertical-align: middle;
		font-weight: 400 !important;
}
}
@media only screen and (max-width: 480px){
	
}
@media only screen and (max-width: 414px){
.content_mainwraper .main_heading{
	font-size:11px;
}
h2.topbar-heading{
	font-size:13px;
}
.content_mainwraper .main_heading span{
	font-size:14px;
	line-height:100%;
}	
}
.dashboard-view{
	    margin-top: 20px;
    text-align: center
}

.dashboard-view > .custom-border{
	border:4px solid #f3f3f3;
	background: #10824f;
	color: #fff;
	padding:20px;
	font-weight: 700;
	border-radius: 4px;
	box-shadow: 0px 4px 5px -1px #c5c5c5;
}
.dashboard-view > .custom-border > a{
	color: White;
	cursor: pointer;
}
span.circle{
	display: block;
	border: 1px solid white;
	width: 50px;
	margin: auto;
	position: relative;
	top: -5px;
	border-radius: 50%;
}
span.circle i{
	font-size: 3rem;
	position: relative;
	padding: 8px 10px;
}

.dashboard-view h4{
	margin-bottom:10px;
	color: #0f8c54;
	font-weight: 600;
}
.dashboard-view form .form-control{
	min-height: 40px;
	box-shadow:none;


}
.dashboard-view form div{
	margin-top:5px;
}
.btn-preview{
	width:100%;
	border-radius: 5px;
	box-shadow: none;
	border:none;
	background:#dd1e2e;
	color: #fff;
	font-weight: 600;
	font-size:18px;
	padding:12px;
	margin-top:10px;
}
@media only screen and (max-width: 747px){
	.dashboard-view{
	margin-top: 55px;
    text-align: center;
}
.dashboard-view > .custom-border{
	min-height: 149px;
	font-size:12px;
	font-weight: 400;
}
.dashboard-view > .custom-border > span.circle{
	margin-top: 15px;
}
.dashboard-view h4{
	margin-top:10px;
}
}
ul{
	list-style: none;
}

ul.custom-mobile-ul li{
	padding: 12px 32px 12px 50px;
	background:#e0e0e0;
	border-radius: 1px;
	position: relative;
	box-shadow: 0px 1px 6px 0px #bfbdbd;
	margin-top: 10px;
	margin-bottom:15px;
}
ul.custom-mobile-ul li a{
	color:#41775f;
	font-weight: 600;
	font-size: 12px;
}
ul.custom-mobile-ul i.fa-long-arrow-right{
	float: right;
	color: #41775f;
	position: relative;
	font-weight:900;
	font-size: 20px;
	right: -25px;
}
span.icon3{
	background:#0d3f29;
	padding: 12px 12px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
	font-size: 20px;
}
span.icon3:after{
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 8px 5px 0;
	border-color: transparent #e8e8e8 transparent transparent;
	display: inline-block;
	vertical-align: middle;
	margin-right: 33px;
	position: absolute;
	right: -33px;
	top: 16px;
} 