/*
Template : COVID - 19
Author   : Toqeer Haider
Company  : Pace Technologies (PVT) LTD.
Email    : info@pace-tech.com
Website  : pace-tech.com
*/

/*
=======================================================================
                       Styling Content
    
        1 - Basics  of Template
        2 - Header Styling
        3 - Top Nav Styling
        4 - Body Graphs and Content Styling
        5 - Styling for Left Div
        6 - Second Section Styling

=======================================================================
*/

@import 'basic';
@import 'header';
@import 'topNav';
@import 'graphs';
@import 'leftdiv';
@import 'secondsection';

